@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

.cultura-section {
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'Maven Pro', sans-serif;
}

.cultura-section h2 {
    font-size: 40px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: normal;
    color: #444444;
}

.cultura-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha o texto com o topo da imagem */
    margin-bottom: 40px;
    margin-left: 80px;
    flex-wrap: wrap;
    gap: 20px;
}

.cultura-text {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
    margin-right: 20px;
    max-width: 500px;
    color: #333;
}

.botao-sobre-nos {
    padding: 10px 20px;
    background-color: #56bfbf;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    text-align: left;
    font-family: 'Maven Pro', sans-serif;
}

.botao-sobre-nos:hover {
    background-color: #48a8a8;
}

.cultura-imagem {
    flex: 1;
    background-color: #e0e0e0;
    width: 100%;
    height: 200px;
    max-width: 500px;
    margin-right: 80px;
}

.cultura-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
