/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0.5rem 2rem; 
  height: 60px; 
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

/* Logo Styles */
.logo {
  height: 50px;
  position: absolute;
  left: 19rem;
  z-index: 2;
}

/* Navigation Styles */
.nav {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.3rem 1rem; 
  border-radius: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation List */
.nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem; 
  padding: 0;
  margin: 0;
  align-items: center;  
}

/* List Items */
.nav-list li {
  position: relative;
}

/* Links */
.nav-list li a {
  text-decoration: none;
  color: #333; 
  font-weight: 500;
  padding: 0.3rem 0.8rem; 
  border-radius: 15px;
  transition: background-color 0.3s ease, color 0.3s ease; 
  font-family: 'Inter', sans-serif; 
  font-size: 0.9rem;
}

/* Hover styles */
.nav-list li a:hover,
.nav-list li a:focus {
  background-color: #e0e0e0; 
  color: #000; 
}

/* Active Link Styles */
.nav-list li a.active {
  background-color: #5fcdec;
  color: #fff; 
}

.nav-list li a.active:hover,
.nav-list li a.active:focus {
  background-color: #2fd7f0;
  color: #fff;
}

/* Hover effect styles */
.header-hover-effect {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.header:hover .header-hover-effect {
  opacity: 1;
}

.header-hover-effect-gradient {
  --x: 0px;
  --y: 0px;
  background: radial-gradient(
      500px circle at var(--x) var(--y),
      rgba(29, 223, 226, 0.15),
      transparent 10%
  );
  width: 100%;
  height: 100%;
}

