@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68vh;
    font-family: 'Maven Pro', sans-serif; 
}

.main-content__container {
    text-align: center;
}

.main-content__container h1 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
    margin-right: 400px;
    font-weight: 300;
    font-family: 'Maven Pro', sans-serif;
    white-space: nowrap;
    width: 20rem; 
}

.main-content__container h1 span:first-child {
    color: #000000;
}

.main-content__container h1 span:last-child {
    display: inline-block;
    color: #56bfbf !important; 
    text-align: left;
}

.palavras{
    color: #56bfbf !important; 
}

.texto{
    margin-top: 40px;
    margin-bottom: 30px;
}

/* Remova o cursor piscante (as barras azuis) */
@keyframes blink-caret {
    0%, 100% {
        border-right: none;
    }
}

/* General button styles */
.buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
    margin-top: 1rem;
}

.btn-primary, .btn-secondary {
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: transform 0.2s ease;
}

.btn-primary {
    background-color: #56bfbf; 
    color: white;
    border: none;
}

.btn-secondary {
    background-color: white;
    color: #000000; 
    border: 2px solid #000000;
}

/* Hover effect to make the button pop */
.btn-primary:hover, .btn-secondary:hover {
    transform: translateY(-3px); 
}

/* Arrow icon styling */
.btn-primary::after, .btn-secondary::after {
    content: ">";
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

/* Rotate the arrow when hovering */
.btn-primary:hover::after, .btn-secondary:hover::after {
    transform: translateX(5px); 
}
